@model PostPage
@foreach (var post in Model)
{
    <article>
        <h2>@post.Title</h2>
        <h4>Published by @post.Author on @post.PublishDate.ToShortDateString()</h4>
        <p>@post.Content</p>
        <hr />
    </article>
}

@if (Model.TotalPageCount > 1)
{
    if (Model.HasPreviousPage)
    {
        @Html.ActionLink("Previous ", "Index", "Home", new { pageNumber = Model.PageNumber - 1 }, new { })
    }
    
    if (Model.HasNextPage)
    {
        @Html.ActionLink("Next", "Index", "Home", new { pageNumber = Model.PageNumber + 1 }, new { })
    }
    
    <p>Page @Model.PageNumber of @Model.TotalPageCount</p>
}